@charset "utf-8";

footer {
  width: 100%;
  height: 300px;
  background-color: var(--gumi--sub-green);
}
.footer {
  height: 100%;
  position: relative;
  background-color: var(--gumi--sub-green) !important;
}
.ft_logo {
  padding: 2% 0;
  max-width: 300px;
}
.ft_logo img {
  width: 100%;
}
.ft_info p {
  font-family: "SBAggroL";
  font-size: 0.8rem;
  padding-bottom: 15px;
  color: #eeeeee;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px / 1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }
.sponsorLogo {
  position: absolute;
  right: 0;
  bottom: 10%;
  height: 30px;
  display: flex;
  gap: 20px;
}
.sponsorLogo img {
  height: 100%;
}
