@charset "utf-8";
header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 999;
  background-color: #fff;
}
header .inner {
  width: 100%;
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  height: 100%;
}
.content {
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 250px;
  text-align: center;
  line-height: 7vw;
  object-fit: cover;
}
.logo img {
  width: 100%;
}
nav {
  height: 100%;
  margin: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.gnb {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  gap: var(--li--gap--l);
}

.depth {
  display: none;
}
.sns {
  line-height: 110px;
  display: flex;
  gap: 20px;
}
.banner {
  margin-top: 80px;
  width: 100%;
}
.tab {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 50%;
  margin: auto;
  text-align: center;
}
