@charset "utf-8";
@font-face {
  font-family: "SBAggroM";
  src: url("https://cdn.jsdelivr.net/gh/fontbee/font@main/SANDBOX/SBAggroM.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "SBAggroL";
  src: url("https://cdn.jsdelivr.net/gh/fontbee/font@main/SANDBOX/SBAggroL.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--gumi--sub-green);
  cursor: pointer;
}
html {
  font-size: 20px;
  font-family: "SBAggroM";
}
.inner {
  max-width: 1280px;
  margin: auto;
  background-color: #fff;
}

.web {
  gap: var(--li--gap--l);
}

.web li:hover a {
  color: var(--gumi--sub-yellow);
}
.active {
  display: block !important;
}
.active a {
  color: var(--gumi--sub-yellow);
}
.fixtop {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  bottom: 40px;
  right: 150px;
  gap: 20px;
  z-index: 99999;
}
.scrollTo {
  cursor: pointer;
  color: var(--gumi--main);
  font-size: 1.4rem;
  border: 1px solid var(--gumi--main);
  text-align: center;
  border-radius: 50%;
}
.scrollToTop {
  padding: 7px 5px 3px;
}
.scrollTodown {
  padding: 9px 5px 1px;
}
/* Color styles */
:root {
  --gumi--main: rgba(252, 103, 19, 1);
  --gumi--sub-yellow: rgb(255, 182, 80);
  --gumi--sub-green: rgba(87, 141, 54, 1);
  --li--gap--l: 50px;
  --inner--width: 1280px;
  --background-dark: #2d3548;
  --text-light: rgba(255, 255, 255, 0.6);
  --text-lighter: rgba(255, 255, 255, 0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}
