@charset "utf-8";
body {
  background-color: var(--gumi--sub-yellow);
}
.inner {
  background-color: #f0f0f0;
}
main.inner {
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

header .inner,
main .inner {
  width: 100%;
  margin: 0 !important;
  margin: auto !important;
}
/* 탭 */
.tab {
  font-size: 1.01rem;
  text-align: center;
  gap: 5px !important;
}

.tab li {
  width: 110%;
  /* background: url(/images/favicon.ico) no-repeat 10%; */
  /* display: none; */
}

.tab li.active {
  font-size: 16px;
  font-weight: bold;
  background: url(/images/favicon.ico) no-repeat 20% 25%;
}

.tab li:hover {
  font-weight: bold;
}

.tab li:last-child a {
  letter-spacing: 0.3rem;
  padding-left: 15px;
}

/* 프로그램상세페이지 메인전체*/
main {
  width: 100%;
  max-width: 1280px;
  height: 100vh;
  position: relative;
}

/* 프로그램1 */
.program {
  width: 90%;
  height: 100%;
  margin: auto;
  margin-top: 8px;
  padding-bottom: 50px;
  text-align: center;
  background-color: white;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px; /* 둥근 모서리 */
  position: relative;
}
.program h3 , .innInner > h3  {
  padding: 30px;
  width: 200px;
  height: 200px;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
}
.program > h3 > span , .innInner > h3 > span {
  position: absolute; /* h3의 경계 내에서 위치 */
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  width: 62%;
  height: 30%;
  color: #fff;
  margin-top: 30px;
  padding: 20px;
  text-align: center;
  border-radius: 30px;
  background: linear-gradient(95deg, var(--gumi--sub-green), var(--gumi--sub-yellow));
}
.leaflet {
  width: 100%;
  margin: auto;

  overflow: hidden;
}
.leaflet > li,
.leaflet > li > a {
  width: 100%;
  max-width: 1280px;
  height: 100%;
}
.leaflet > li > a {
  width: 700px;
  height: 100px;
}
.leaflet > img {
  object-fit: cover;
}
.leaflet2 {
  display: none;
}
/* 이미지 */
.middle1 li {
  width: 100%;
}

/* 이미지중간 리플렛 */
.lf-imgtop0 {
  margin-left: -1px;
}
.middleli {
  width: 100%;
  display: flex;
}
.middleli li:first-child {
  margin-left: -1px;
}
.middle1 {
  width: 100%;
  display: flex;
  justify-content: center;
}

.middle1 ul,
.middle1 li {
  width: 100%;
  height: 88px;
}

.middle1 a {
  width: 100%;
  height: 88px;
}

#st-1 {
  position: relative;
  width: 56px;
}

#st-2 {
  position: relative;
  width: 43px;
  background: url(/images/geen/st0-img2.png) no-repeat;
}

#st-3 {
  position: relative;
  width: 59px;
  background: url(/images/geen/st1-img3.png) no-repeat;
}

#st-4 {
  position: relative;
  width: 120px;
  background: url(/images/geen/st2-img4.png) no-repeat;
}

#st-5 {
  position: relative;
  width: 61px;
  background: url(/images/geen/st3-img5.png) no-repeat;
}

#st-6 {
  position: relative;
  width: 103px;
  background: url(/images/geen/st4-img6.png) no-repeat;
}

#st-7 {
  position: relative;
  width: 44px;
  background: url(/images/geen/st3-img7.png) no-repeat;
}

#st-8 {
  position: relative;
  width: 48px;
  background: url(/images/geen/st5-img8.png) no-repeat;
}
.middle2 {
  margin-left: -2px;
  display: flex;
  justify-content: center;
  padding-left: 2px;
  position: relative;
}
.middle2 > img {
  width: 99% !important;
  vertical-align: top;
}

.middle2 li:last-child {
  width: 132px;
}
.middle2 li:hover {
  opacity: 0.7;
}
.lf-imgtop-t {
  width: 100%;
  display: flex;
  justify-content: center;
}
.lf-imgtop-t img {
  position: relative;
}
.lf-imgtop1 {
  width: 540px;
  /*   */
  vertical-align: top;
  object-fit: cover;
}

/* mapicon */
.mapicon a {
  width: 100%;
  background-color: antiquewhite;
}

.mapicon img {
  position: relative;
  top: 0;
}

.jump-animation {
  animation-name: bounce;
  animation-duration: 1000ms;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.79, 0.04, 0.9, 0.6);
  animation-iteration-count: infinite;
}

.jump-animation.active {
  display: block;
}

.jumpingball {
  width: 15px;
  height: 80px;
  border-radius: 100%;
  margin: auto;
}

.jumpingball img,
.jumpanimation1 img {
  width: 38px;
}

.jumpanimation {
  animation-name: bounce1;
  animation-duration: 700ms;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.79, 0.04, 0.8, 0.6);
  animation-iteration-count: infinite;
}
.jumpanimation1 {
  animation-name: bounce2;
  animation-duration: 5000ms;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.9, 0.7, 0.8, 0.6);
  animation-iteration-count: infinite;
}
.chat {
  width: 100vw;
  position: relative;
  bottom: 1850px;
  left: 20%;
}
/*참여가게  */
/* 스와이프 */
.swipe_inner {
  width: 90%;
  max-width: 1500px;
  margin: auto;
  background-color: #f0f0f0;
  /* border-bottom: 2px solid var(--gumi--sub-yellow); */
}
.innInner {
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px; /* 둥근 모서리 */
  position: relative;
}
.recipe-container {
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 25px;
  width: calc(100% / 2);
  margin: 0 27%;
  min-width: 650px;
}

.recipe-container h1 {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  color: var(--gumi--main);  
}
.h1-1{
margin: -90px 0 20px;}
.swiper {
  width: 83%;
}

.swiper-scrollbar {
  --swiper-scrollbar-bottom: 0;
  opacity: 0.6;
  --swiper-scrollbar-drag-bg-color: var(--gumi--main);
  --swiper-scrollbar-size: 5px;
}

.post {
  max-width: 400px;
  font-size: 1rem;
  font-weight: 500;
  color: var(--gumi--main);
  background: var(--gumi--sub-yellow);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 16px 16px 0;
  margin-bottom: 16px;
  margin-right: 30px !important;
}

.post-img {
  width: 100%;
  max-width: 400px;
  object-fit: cover;
  border-radius: 6px;
  user-select: none;
  pointer-events: none;
}

.post-body {
  display: grid;
  grid-template-columns: 15% 60% 20%;
  align-items: center;
  gap: 8px;
  padding: 15px 0;
  cursor: default;
}

.post-name {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--gumi--sub-green);
}

.post-author {
  width: fit-content;
  font-size: 1rem;
  font-weight: 600;
  opacity: 0.6;
  color: var(--gumi--main);
}

.post-avatar {
  width: 50px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
}
/* 슬라이더 추가 */

swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-button-next,
.swiper-button-prev {
  opacity: 0.5;

  color: var(--gumi--main) !important;
}
.swiper-pagination-bullet-active {
  opacity: 0.5 !important;
  background: var(--gumi--main) !important;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 25px !important;
}

@keyframes bounce {
  0% {
    transform: translate3d(0px, -00px, 0px);

    height: 40px;
  }

  90% {
    height: 40px;
  }

  100% {
    transform: translate3d(0px, 0px, 0px);

    height: 40px;
  }
}

@keyframes bounce1 {
  0% {
    transform: translate3d(0px, -50px, 0px);

    height: 40px;
  }

  90% {
    height: 40px;
  }

  100% {
    transform: translate3d(0px, 10px, 0px);

    height: 40px;
  }
}
@keyframes bounce2 {
  0% {
    transform: translate3d(0%, -10px, 0);

    height: 40px;
  }

  90% {
    height: 40px;
  }

  100% {
    transform: translate3d(55%, 10px, 0);

    height: 40px;
  }
}
@media screen and (max-width: 1120px) {
  .tab li.active {
    font-size: 16px;
    font-weight: bold;
    background: url(/images/favicon.ico) no-repeat 10% 25%;
  }
  .chat {
    bottom: 1600px;
  }
}

@media screen and (max-width: 830px) {
  .nav {
    transform: translateX(-90%);
  }

  .tab {
    display: block;
    font-size: 18px;
  }

  .tab li.active {
    font-size: 16px;
    font-weight: bold;
    background: url(/images/favicon.ico) no-repeat 100% 25%;
  }
}

@media screen and (max-width: 740px) {
  .tab {
    font-size: 16px;
  }

  .tab li.active {
    font-size: 14px;
    font-weight: bold;
    background: url(/images/favicon.ico) no-repeat 100% 25%;
  }

  .middle1 {
  }
}

@media screen and (max-width: 630px) {
  .tab li {
    width: 83px;
  }

  .tab li a {
    width: 100%;
  }

  .tab li.active {
    font-size: 17px;
    font-weight: bold;
    background: none;
  }
  .tab li:last-child a {
    letter-spacing: 0.2rem;
    padding-left: 0px;
  }
}
@media screen and (max-width: 560px) {
  .leaflet {
    display: none;
  }
  .leaflet2 {
    display: block;
  }
}
@media screen and (max-width: 420px) {
  .tab {
    margin: auto;
  }

  .tab li {
    width: 80px !important;
  }
}
